/*  */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 40px;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 12px;
    width: 80%;
    color: #f9f9f9;
    border-radius: 10px;
    background: rgba(133, 122, 122, 0.181);
    backdrop-filter: blur(10px);
    font-family: 'navbae' ;
}


.first {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 16px 14px; */
}

.seconde {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
  
.image {
    width: 25px;
}
  
.name {
    width: 70px;
    font-size: 13px;
    margin-left: 15px;
    text-align: left;
    font-weight: bold;
    color: #ffffff;
    font-family: 'title';
}
  
.symbol {
    text-align: left;
    width: 50px;
    font-size: 0.7rem;
    margin-left: 10px;
}
  
.currentPrice {
    text-align: left;
    /* width: 100px; */
}

.marketCap{
    display: none;
}
  
.greenPriceChange,
.redPriceChange {
    /* width: 100px; */
    text-align: left;
    font-weight: bold;
}
  
.redPriceChange {
    display: flex;
    justify-content: center;
    color: rgb(254, 210, 210);
    background: rgba(255, 38, 38, 0.415);
    padding: 5px;
    border-radius: 10px ;
}
  
.greenPriceChange {
    display: flex;
    justify-content: center;
    color: rgb(210, 254, 225);
    background: rgba(38, 255, 99, 0.356);
    padding: 5px;
    border-radius: 10px ;
}

@media screen and (max-width: 300px){
    .container{
        width: 80%;
        font-size: 0.6rem;
        padding: 0 5px;
    }

    .name{
        width: 30px;
        font-size: 0.7rem;
        margin-right: 20px;
    }
}

@media screen and (min-width: 720px){
    .container{
        display: flex;
        justify-content: space-between;
    }
    .name{
        width: 150px;
        font-size: 1rem;
        margin-left: 40px;
    }

    .image{
        width: 40px;
    }

    .seconde{
        width: 200px;
    }

    .symbol{
        width: 100px;
    }

    .marketCap{
        display: flex;
        width: 200px;
        margin-left: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .name{
        width: 250px;
        font-size: 1rem;
        margin-left: 40px;
    }

    .image{
        width: 40px;
    }

    .seconde{
        width: 400px;
    }

    .symbol{
        width: 200px;
    }

    .marketCap{
        display: flex;
        width: 250px;
        margin-left: 50px;
    }       
}