@font-face {
  font-family: "title";
  src: url("../font/IndianTypeFoundry-Poppins-Black.woff") format("woff");
}

@font-face {
  font-family: "navbae";
  src: url("../font/IndianTypeFoundry-Poppins-Regular\ \(1\).woff")
    format("woff");
}

.title {
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: center; */
  width: 80%;
  margin: 0 auto;
}

.containerTextHeader {
  margin: 30px auto;
}

.textHeader {
  color: #fff;
  font-family: "title";
  font-size: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 130px;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  padding: 13px;
  font-family: "title";
  border: none;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  box-shadow: rgba(255, 255, 255, 0.337) 0 0 10px;
}

.button a {
  text-decoration: none;
  color: black;
}

.textCard {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
  color: #fff;
  font-family: "navbae";
  font-size: 2rem;
}

.cards {
  width: 80%;
  /* min-height: 300vh; */
  display: flex;
  justify-content: center;
  margin: 30px auto 10px auto;
  /* min-height: 100vh; */
}

.topCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 300px){
  .textHeader{
    font-size: 1.7rem;
  }

  .topCard{
    padding-bottom: 55px;
  }
}

@media screen and (min-width: 720px) {
  .containerTextHeader {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: left;
    margin: 30px auto;
  }
  .textHeader {
    font-size: 4rem;
  }

  .button {
    width: 160px;
    font-size: 1rem;
  }

  .textCard {
    font-size: 2rem;
    margin-bottom: -60px;
  }

  .cards {
    width: 80%;
    margin-top: 80px;
    /* margin-bottom: 900px; */
  }

  .topCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-template-rows: auto;
    /* margin: 0 auto; */
    gap: 40px;
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .containerTextHeader{
    margin-top: 50px;

  }
  .textHeader{
    font-size: 5rem;
  }

  .cards{
    width: 90%;
  }
}
