.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}


.container h1 {
  font-family: 'title';
  color: #fff;
  font-size: 2rem;
  margin-top: 60px;
}


.coinContainer {
  margin-top: 40px;
  /* width: fit-content; */
  border-radius: 10px;
  background-color: transparent;
  margin-bottom: 40px;
}


.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  margin-top: 30px;
  border: 2px solid rgba(255, 255, 255, 0.585);
  border-radius: 30px;
  height: 5px;
  padding: 15px;
  background: rgba(181, 179, 179, 0.121);
  backdrop-filter: blur(10px);
  transition: all 0.1s ease;
  font-family: 'navbae';
  font-size: 0.8rem;
}

.input:focus {
  outline: none;
  color: rgb(255, 255, 255);
  /* border-color: white; */
  background: transparent;
  box-shadow: rgba(235, 235, 235, 0.24) 0px 3px 8px;
}

@media screen and (min-width: 720px){
  .input{
    width: 350px;
  }
}


