@font-face {
  font-family: "PluranonNormal";
  src: url("../font/PluranonNormal-gxgOY.woff") format("woff");
}

.navbar {
  width: 100%;
  height: 60px;
 
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;
  width: 90%;
}

.logo .textLogo {
  font-family: "PluranonNormal";
  font-size: 2rem;
  margin: 10px;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
}

.list {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  list-style: none;
  font-size: 0.9rem;
  font-family: "navbae";
}

.list li {
  padding: 0 15px;
  cursor: pointer;
  color: rgb(6, 6, 6);
}
.list li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-bottom: rgba(255, 255, 255, 0.305) 1px solid;
}

.list li a:hover {
  color: rgba(88, 88, 88, 0.795);
}

@media screen and (max-width: 300px) {
  .header {
    width: 100%;
  }
  .list {
    width: 100%;
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 720px) {
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: 80%;
  }
}
