.App {
  background-image: url(./image/red-bite@3000x2000px.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  margin-bottom: -40px;
  overflow-x: hidden;
}
